div.wrapper{
	white-space: nowrap;
}

input.cell{
	font-size:14px;
	font-family:"Courier New", Courier, monospace;
	width:18px;
	height:18px;
	text-align:center;
	text-decoration:center;
	padding:0px;
	margin:0px;
	border:1px solid;
}

input.header_1st_col{
	font-family:"Courier New", Courier, monospace;
	text-align:right;
	text-decoration:center;
	border:0px solid #FFFFFF;
	padding:0px;
	margin:0px;
	width:100px;
}

input.header_n_col{
	font-size:14px;
	font-family:"Courier New", Courier, monospace;
	width:18px;
	height:18px;
	text-align:center;
	text-decoration:center;
	border:1px solid #FFFFFF;
	padding:0px;
	margin:0px;
}

div.crosword_row{
	padding:0px;
	margin:2px 0px;
	border:0px;
}

input.crossword_check{
	position:relative;
	margin-top:8px;
	right:-103px;
	border:1px solid #000000;
	text-align:left;
	padding-left:2px;
	width:70px;
}